@page "/lblazor/bindprop"
@inject IJSRuntime _JsRuntime

<h3>Product</h3>
<br />
Name: @Product.Name
<br />
Active: @Product.IsActive


@code {
        WindowBlazor_Models.LBlazorModels.Demo_Products Product = new()
            {
                Id = 1,
                Name = "Product 1",
                IsActive = true
            };
    }